.email_form {
    width: 500px;
    height: fit-content;
    color: white;
    text-align: left;
    padding: 20px;
}

.email_form h1 {
    text-align: center;
}


.email_form > form > label > * {
    width: 100%;
    background-color: #181818;
    -webkit-appearance: none; 
    -moz-appearance: none;
    border-width: 0;

    border-bottom: solid 2px;
    border-color: rgb(115, 234, 193);
    color: white;

    height: 30px;
    font-size: 15pt;
    font-family: 'Raleway';
}


textarea {
    resize: none;
}

#msg_box {
    height: 100px;
}

.email_form > form > label {
    width: 100%;
    padding-top: 20px;
    font-family: 'Raleway';
    margin-bottom: 20px;
}


.email_form > form > input {
    width: 100%;
    
}

.email_form > form > div {
    height: 50px;
    text-align: center;
    width: 100%;
}


#email_form_submit {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15pt;
    font-family: 'Raleway';
    background-color:#181818;
    color:white;
    border: rgb(115, 234, 193) solid;
}

.requiredField {
    color: red !important;
    font-size: small !important;
    border: 0 !important;
    
}

@media (max-width: 760px) {
	.email_form {
        width: 70%;
    }
    
}