.socialMedia{
	background-color: #73eac1;
	width: 100%;
	/* margin-left: -10px; */
	overflow: hidden;
}

.socialMedia ul {
	text-align: center;
	list-style: none;
}

.socialMedia ul li{
	display: inline-block;
	margin: 100px 50px;
}
