#about_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#currentAvailability {
  color: #e9e9e9;
  list-style: none;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#currentAvailability h3 {
  font-size: 17pt;
  font-weight: lighter;
  display: inline-block;
  vertical-align: middle;
}

#currentAvailability img {
  /* vertical-align: -10%; */
  vertical-align: middle;
}

#currentAvailability h3 {
  vertical-align: middle;
}

.what_i_do_area {
  display: flex;
  flex-direction: column;
}

#whatIDo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13pt;
  font-weight: lighter;
  font-family: "Open Sans";
  color: #f7f7f7;
  padding: 0;
}

#whatIDo li {
  padding: 50px;
}

@media (max-width: 768px) {
  #whatIDo {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #whatIDo li {
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
