#about_area {}

#currentAvailability {
	color: #e9e9e9;
	list-style: none;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#currentAvailability h3 {
	font-size: 17pt;
	font-weight: lighter;
	display: inline-block;
	vertical-align: middle;
}

#currentAvailability img {
	/* vertical-align: -10%; */
	vertical-align: middle;
}

#currentAvailability h3 {
	vertical-align: middle;
}


#whatIDo {
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	text-align: center;
	/* width: 100%; */
	font-size: 13pt;
	font-weight: lighter;
	font-family: "Open Sans";
	color: #f7f7f7;
	padding: 0;
}

#whatIDo li {
	display: inline-block;
	margin: auto;
	padding: 50px;
}