

.App {
  text-align: center;
}



.app_contents {
  width: 75vw;
  margin-right: auto;
  margin-left: auto;
  z-index: 1 !important;
}

.app_contents p {
  color: #acacac;
  font-size: 18pt;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
  line-height: 30pt;
}

.highlight {
  color: rgb(115, 234, 193);
  font-weight: lighter;
}





.socialMedia{
	background-color: #73eac1;
	width: 100%;
	/* margin-left: -10px; */
	overflow: hidden;
}

.socialMedia ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

.socialMedia ul li{
	display: inline-block;
	margin: 100px 50px;
	cursor: pointer;
}


.copyRightArea{
	background-color: #151515;
	width: 100%;

}

.copyRightArea table{
	color: #383838;
	width:100%;
	padding: 20px 0;
}


.email{
	text-align: center;
	color: #dddddd;
	font-family: "Open Sans";
	font-weight: lighter;
	font-size: 10pt;
	margin: 50px 0;
}

.socialMediaIcon {
  width: 63px;
}

.btn {
	cursor: pointer;
}


.btn:hover {
	color: rgb(73, 153, 125);
}

a {
	text-decoration: none;
	color: #181818;
}



@media (max-width: 800px) {
	.app_contents {
		width: 100vw;
		margin-right: auto;
		margin-left: auto;
	}

	.title {
		text-align: center !important;
	}

}