.popup_overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    z-index: 2;
    top: 0;
    opacity: 0.6;
}

.popup {
    position: fixed;
    
    bottom: 50%;
    left: 50%;
    margin-bottom: -100px;
    /* Negative half of height. */
    margin-left: -250px;
    /* Negative half of width. */
    background-color: #181818;
    z-index: 3;

    border-radius: 20px;

    border: #202020;
    border-style: solid;
    border-width: 4px;
}


@media (max-width: 760px) {

    .popup {
        left: 70%;
        bottom: 30%;
    }
}